<div class="container">
    <div class="row">
        <div class="col justify-content-center text-center align">

            <h2>{{name}}</h2>
            <p>Nationality: {{nationality}}</p>
            <a href="{{url}}">Check more info here:</a>
            <img src="{{photo}}" alt="foto del circuito">


        </div>
    </div>
</div>